%header
  .container
    .full_width
      %h1 My cases

%section.container
  .family_list_large.full_width
    .two_thirds
      %h2 The Taylor Family
      %h3
        Your next scheduled visit -
        = Time.now.strftime("%d/%m/%Y")
        14:00
      .codes CP LAC
      =link_to 'Edit', family_details_path
    .third
      .address
        =fa_icon "home"
        Flat 12, New Road, N2 1BD
      .button.phone
        =fa_icon "phone"
        07912 345678

    .full_width
      %hr

    .half
      %h3
        Visit purpose
        =link_to 'Edit', family_details_path
      %ul.default
        %li Housing
        %li School attendance
    .half
      %h3 Family's input
      %p My uncle wants to see the children

    .center.full_width
      %h3 Was there a successful contact?
      =link_to 'Yes', family_meeting_path, class: 'button'
      .button#not_successful No

  .family_list_small.full_width
    .half
      %h3 Another family
      .codes CP LAC
      =link_to 'Edit', family_meeting_details_path
    .half
      .address
        =fa_icon "house"
        Flat 12, New Road, N2 1BD
      .button.phone.secondary
        =fa_icon "phone"
        07912 345678
  .family_list_small.full_width
    .half
      %h3 Another family
      .codes CP LAC
      =link_to 'Edit', family_details_path
    .half
      .address
        =fa_icon "house"
        Flat 12, New Road, N2 1BD
      .button.phone.secondary
        =fa_icon "phone"
        07912 345678
  .family_list_small.full_width
    .half
      %h3 Another family
      .codes CP LAC
      =link_to 'Edit', family_details_path
    .half
      .address
        =fa_icon "house"
        Flat 12, New Road, N2 1BD
      .button.phone.secondary
        =fa_icon "phone"
        07912 345678
