%header
  .container
    .full_width
      %h1 The Taylor Family

.container
  .breadcrumbs.full_width
    =link_to root_path do
      =fa_icon "chevron-left"
      Return to your cases

  .card.full_width.family_list_large
    .inner_container
      .two_thirds
        %h2#visit_family_name The Taylor Family

        .codes
          %ul
            %li CP
            %li LAC
      .third
        .address
          =fa_icon "home"
          Flat 12, New Road, N2 1BD
        %a{href: "tel:07912345678", class: "button phone"}
          =fa_icon "phone"
          07912 345678

      .full_width
        %hr

        .visit_people
          .single_person
            .img
              =image_tag 'person_1.png'
            .details
              .name Dave Taylor
              .relation Dad (32 years old)
          .single_person
            .img
              =image_tag 'person_3.png'
            .details
              .name Rose Taylor
              .relation Daughter (9 years old)
            .codes
              %ul
                %li LAC
          .single_person
            .img
              =image_tag 'person_2.png'
            .details
              .name Ben Taylor
              .relation Son (2 years old)
            .codes
              %ul
                %li CP

        %hr
        More details of the family would go here
