%header
  .container
    .full_width
      %h1 Your visit with the Taylor family

.container
  .breadcrumbs.full_width
    =link_to family_meeting_path do
      =fa_icon "chevron-left"
      Edit visit notes

  .visit_details_card.card.full_width
    %h3
      The Taylor Family -
      = Time.now.strftime("%d/%m/%Y")
      14:00
      %span.edit_link
        =link_to 'Edit', family_meeting_details_path
    %hr
    .accordion
      .accord-single
        .accord-toggle
          Visit details
          =fa_icon "chevron-down"
        .accord-cont.inner_container
          .half
            .bold Visit purpose
            %ul.default
              %li Housing
              %li School attendance
          .half
            .bold Family's input
            %p My uncle wants to see the children

  .visit_details_card.card.full_width
    %h3 Who was present?
    %hr
    %p List of people present here.



  .visit_input_card.card.full_width
    %h3
      Visit Notes
    %hr
    #visit_notes_saved
      You have not written any notes for this visit yet.

    %br

    %h3 Agreed actions
    #actions_display
    %hr
    #agreed_actions_saved
      You have not saved any aggreed actions for this visit yet.

