%header
  .container
    .full_width
      %h1 Your visit with the Taylor family

.container
  .breadcrumbs.full_width
    =link_to family_visit_path do
      =fa_icon "chevron-left"
      Edit visit notes

  .visit_details_card.card.full_width
    %h3
      The Taylor Family -
      = Time.now.strftime("%d/%m/%Y")
      14:00
      %span.edit_link
        =link_to 'Edit', family_visit_details_path
    %hr
    .accordion
      .accord-single
        .accord-toggle
          Visit details
          =fa_icon "chevron-down"
        .accord-cont.inner_container
          .half
            .bold Visit purpose
            %ul.default
              %li Housing
              %li School attendance
          .half
            .bold Family's input
            %p My uncle wants to see the children

  .visit_input_card.visit_details_card.card.full_width
    %h3
      Visit Notes
    %hr
    #visit_notes_saved
      You have not written any notes for this visit yet.

    %br

    %h3 Agreed actions
    #actions_display
    %hr
    #agreed_actions_saved
      You have not saved any aggreed actions for this visit yet.


  .visit_details_card.card.full_width
    %h3 About this visit
    %hr
    .inner_container
      .half
        %label Where was this visit?
        .location_choice.not_edit
          .content
            =fa_icon 'home'
            %span The Taylor's home
            %span.edit Edit
          %input{value: "The Taylor's home"}
      .half
        %label When was this visit?
        .location_choice.not_edit
          .content
            =fa_icon 'clock-o'
            %span
              = Time.now.strftime("%d/%m/%y")
              14:00
            %span.edit Edit
          %input{value: "#{Time.now.strftime("%d/%m/%y")} 14:00"}
    %br
    .visit_people
      %label Who was present?

      .single_person
        .img
          =image_tag 'person_1.png'
        .details
          .name Dave Taylor
          .relation Dad (32 years old)
        .delete.button.negative
          =fa_icon 'times'
      .single_person
        .img
          =image_tag 'person_3.png'
        .details
          .name Rose Taylor
          .relation Daughter (9 years old)
        .delete.button.negative
          =fa_icon 'times'
      .single_person
        .img
          =image_tag 'person_2.png'
        .details
          .name Ben Taylor
          .relation Son (2 years old)
        .delete.button.negative
          =fa_icon 'times'

      .single_person
        .breaker
        .img
          =image_tag 'person_4.png'
        .details
          .name Sarah Pitcher
          .relation Support Worker
        .delete.button.negative
          =fa_icon 'times'
    %br
    / save and share goes here
