.visit_details_card {
  margin-bottom: 40px;

  .accordion .accord-single {
    margin-bottom: 0;
    .accord-cont {
      margin-top: 15px;
    }
  }

  ul.default {
    margin-bottom: 0;
  }
}


.visit_input_card {
  hr {
    margin-top: 0;
  }
}
