.visit_details_card {
  margin-bottom: 25px;

  .accordion .accord-single {
    margin-bottom: 0;
    .accord-cont {
      margin-top: 15px;
    }
  }

  ul.default {
    margin-bottom: 0;
  }
}


.visit_input_card {
  hr {
    margin-top: 0;
  }
}
h3 .save_visit_btn {
  margin-top: -7px;
}

.save_visit_btn {
  // padding: 10px 15px 10px 13px;
  float: right;
  span {
    @include mobile {
      display: none;
    }
  }
}

.delete.button {
  margin-left: 5px;
  padding: 10px 15px;
  vertical-align: top;
  background-color: rgba($red, 0.7);
  &:hover {
    background-color: rgba($red, 1);
  }
  @include mobile {
    padding: 10px 12px;
  }
}

#agreed_actions_saved .saved_action, .single_action {
  margin-bottom: 10px;

  .action_name {
    font-weight: 600;
  }

  input {
    display: inline-block;
    box-shadow: none;
    width: 45%;
    max-width: 350px;
    &:focus {
      box-shadow: none;
      border-color: $primary-color;
    }
  }

  select {
    display: inline-block;
    width: auto;
    height: 36px;
    vertical-align: top;
    margin-right: 5px;
    background: transparent;
    width: 75px;
    -webkit-border-radius: 0px;
    @include mobile {
      background-image:
      linear-gradient(45deg, transparent 50%, gray 50%),
      linear-gradient(135deg, gray 50%, transparent 50%);
      background-position:
        calc(100% - 20px) 1em,
        calc(100% - 15px) 1em;
      background-size:
        5px 5px,
        5px 5px;
      background-repeat: no-repeat;
    }
    &:focus {
      outline: none;
      border-color: $primary-color;
    }
  }
  &:before {
    content: "";
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-right: 10px;
    margin-bottom: -6px;
    border: 2px solid $primary-color;
  }
}


.location_choice {
  &.not_edit {
    display: inline-block;
    padding: 3px 10px;
    border: 1px solid rgba($black, 0.2);
    border-radius: $base-border-radius;
    &:hover {
      border: 1px solid rgba($black, 0.5);
    }
  }
  .content {
    cursor: pointer;
  }
  .edit {
    margin-left: 5px;
    font-size: 13px;
    color: $primary-color;
    text-decoration: underline;
    cursor: pointer;
  }
  input {
    display: inline-block;
    display: none;
    width: 250px;
  }
}

.visit_people {
  .single_person {
    margin-bottom: 10px;
    .img, .details, .delete {
      display: inline-block;
      vertical-align: middle;
    }
    .delete {
      border-radius: 50%;
      padding: 5px 7px;
      margin-left: 50px;

      @include mobile {
        margin-left: 0;
        padding: 3px 5px;
        font-size: 13px;
      }
    }
    .img img {
      vertical-align: middle;
    }
    .details {
      margin: 0px;
      margin-left: 5px;
      min-width: 185px;
      @include mobile {
        min-width: 165px;
      }
      .relation {
        opacity: 0.5;
        margin-top: -7px;
      }
    }
  }
  .breaker {
    height: 1px;
    background-color: rgba($black, 0.1);
    max-width: 300px;
    margin-left: 2px;
    width: 100%;
    display: block;
    margin-bottom: 10px;
  }
}
