@include mobile {
  .trumbowyg-modal {
    .trumbowyg-modal-box {
      width: 100%;

      .trumbowyg-modal-title {
        font-size: 18px;
      }
      .trumbowyg-input-infos {
        font-size: 9px;
      }
      input[type=file] {
        font-size: 10px;
        line-height: 22px;
      }
      .trumbowyg-modal-button {
        line-height: 15px;
        font-size: 14px;
      }
    }
  }
}

.trumbowyg-modal {
  .trumbowyg-modal-box {
    .trumbowyg-modal-title {
      font-size: 20px;
    }
    .trumbowyg-input-infos {
      font-size: 12px;
      height: 29px;
      line-height: 27px;
    }
    input[type=file] {
      font-size: 12px;
      line-height: 22px;
    }
    .trumbowyg-modal-button {
      line-height: 14px;
      font-size: 15px;
    }
    label input {
      height: 29px;
    }
  }
}
